aiohttp
aioauth-client
aiohttp-jinja2
aiohttp_session[aioredis]
natsort
pillow
project-runpy
py3exiv2

# Test requirements
coverage
pytest
pytest-cov
pytest-watch

# Dev requirements
pip-tools
flake8
