.Photo {
  background-color: white;
  border-radius: 0.5em;
  flex: 1 0 200px;
  margin: 0.5em 0.25em;
  overflow: hidden;
  position: relative; // offset parent

  @media (max-width: 600px) {
    flex-basis: 50%;
  }

  label {
    font-size: 0.8rem;
  }

  .keyword-container {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .keyword {
    @include keyword();
    display: inline-block;
  }
}

.Photo--img-container {
  background-color: #ddd;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.Photo--img {
  display: block;
  width: 100%;
}

.Photo--content {
  padding: 0.25em;

  h4 {
    color: #444;
    font-family: serif;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0 0 0.25rem;
  }

  p {
    font-size: 1rem;
    margin: 0 0 0.25rem;
  }

  input {
    background-color: transparent;
    border: 1px solid transparent;
    border-width: 0 0 1px 0;
    width: 100%;
    transition: background-color 200ms border 200ms;

    &:focus {
      background-color: lighten($background, 10%);
      border-bottom: 1px solid $accent;
    }
  }
}

.Photo--footer {
  // position: absolute; // TODO

  select {
    width: 100%;
  }

  option {
    display: inline;
    margin-right: 0.25em;
  }

  button {
    background-color: #1a936f;
    border: 0 none;
    color: white;
    font-size: 0.8rem;
    text-transform: lowercase;
    padding: 0.5em;
    width: 100%;
    transition: background-color 200ms;

    &:hover {
      background-color: lighten(#1a936f, 10);
    }
  }
}
