@import 'normalize.sass/normalize';

$background: powderblue;
$accent: royalblue;
$text: #222;


html {
  box-sizing: border-box;
  // TODO find a narrower font
  font-size: 14px;
}

// https://css-tricks.com/box-sizing/
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $background;
  color: $text;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.navbar {
  background-color: #1a936f;
  border-bottom: 1px solid darken($accent, 20%);
  color: #eee;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  h1 {
    font-size: 1rem;
    margin: 0;
  }
  a {
    font-weight: bold;
  }
}

@mixin keyword() {
  background-color: #95afba;
  border-radius: 0.25em;
  color: #eee;
  font-size: 0.8rem;
  padding: 0.35em;
}

.nav-keywords {
  ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  li {
    @include keyword();
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0.2em;
    margin-right: 0.25em;

    &.active {
      background: lighten($accent, 8%);
      color: lighten(#eee, 10%);
      font-weight: bold;
    }
  }
}

.profile {
  display: inline-block;
  img {
    border-radius: 2em;
    height: 1em;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@import 'Photo';

.thumb-hide {
  display: none;
}

.Footer {
  border-top: 1px solid darken($background, 10%);
  color: mix($background, $text, 25%);
  font-family: serif;
  font-size: 0.8rem;
  margin-top: 2em;
  padding: 0.5em 0.5em 0.25em;
}
