<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ title }}</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <nav class="navbar">
    <h1>{{ title }}</h1>
    {% if is_authed %}
      <div class="profile">
        Logged in as
        <span title="{{ session['user']['email'] }}">{{ session['user']['name'] }}</span>
        <img src="{{ session['user']['avatar'] }}">
        <a href="/logout/">Logout</a>
      </div>
    {% else %}
      <a href="/login/">Login</a>
    {% endif %}
  </nav>
  <div class="container">
    {% for image in images %}
      {% set loop_index = loop.index %}
      {% if is_authed %}
        {% include "item_form.html" %}
      {% else %}
        {% include "item.html" %}
      {% endif %}
    {% endfor %}
  </div>
  <footer>
    <a href="https://github.com/crccheck/gallery-cms">Gallery CMS is an open source project.</a>
  </footer>
  <script src="/static/app.js"></script>
</body>
</html>
