<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gallery CMS</title>
  <link rel="stylesheet" href="/static/app.css">
</head>
<body>
  <div class="container">
    {% for image in images %}
      <form method="POST" action="/save/" class="thumb">
        <input type="hidden" name="src" value="{{ image.src }}">
        <img src="/images{{ image.src }}" title="{{ image.src }}">
        <h4>
          {{ image.src }}
        </h4>
        {% for label, value in image.get_form_fields() %}
          <p><label>{{ label }}: <input type="text" name="{{ label }}" value="{{ value }}"></label></p>
        {% endfor %}
        <button>Save</button>
      </form>
    {% endfor %}
</div>
</body>
</html>
