<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Gallery CMS</title>
  <style>
    img {
      width: 200px;
    }
  </style>
</head>
<body>
  {% for image in images %}
    <form method="POST" onsubmit="return false;">
      <input type="hidden" name="src" value="{{ image.src }}">
      <img src="/images{{ image.src }}">
      {% for k, v in image.get_all_meta().items() %}
        <p><label>{{ k }}</label>: <input type="text" value="{{ v }}"></p>
      {% endfor %}
    </form>
  {% endfor %}
</body>
</html>
