<form method="POST" action="/save/" class="thumb">
  <input type="hidden" name="src" value="{{ image.src }}">
  <img src="{{ image.src['thumb'] }}" title="{{ image.src['original'] }}">
  <h4>
    <input type="text" name="new_src" value="{{ image.path }}" required pattern="^/.+\.jpg$">
  </h4>
  {% for label, value in image.get_form_fields() %}
    <p><input type="text" name="{{ label }}" placeholder="{{ label }}"
              title="{{ label }}" value="{{ value }}"></label></p>
  {% endfor %}
  <button>Save</button>
</form>
