<form method="POST" action="/save/" class="thumb">
  <input type="hidden" name="src" value="{{ image.path }}">
  <img {% if loop_index > 30 %}class=lazyload data-{% endif %}src="{{ image.src['thumb'] }}" title="{{ image.src['original'] }}">
  <h4>
    <input type="text" name="new_src" value="{{ image.path }}" required pattern="^/.+\.[jJ][pP][eE]?[gG]$">
  </h4>
  {% set form = image.get_form_fields() %}
  <p><input type="text" name="Iptc.Application2.Headline" placeholder="Headline"
            title="Headline" value="{{ form['Iptc.Application2.Headline'] }}"></label></p>
  <p><input type="text" name="Iptc.Application2.Caption" placeholder="Caption"
            title="Caption" value="{{ form['Iptc.Application2.Caption'] }}"></label></p>
  <select name="Iptc.Application2.Keywords" multiple size=1>
    {% for keyword in form['Iptc.Application2.Keywords'] %}
      <option selected class="keyword">{{ keyword }}</option>
    {% endfor %}
  </select>
  <button>Save</button>
</form>
