<div class="thumb">
  <img src="{{ image.src['thumb'] }}" title="{{ image.src['original'] }}">
  <img {% if loop_index > 30 %}class=lazyload data-{% endif %}src="{{ image.src['thumb'] }}" title="{{ image.src['original'] }}">
  <h4>
    {{ image.path }}
  </h4>
  {% set form = image.get_form_fields() %}
  {% if form['Iptc.Application2.Headline'] %}
    <p title="Headline">{{ form['Iptc.Application2.Headline'] }}</p>
  {% endif %}
  {% if form['Iptc.Application2.Caption'] %}
    <p title="Caption">{{ form['Iptc.Application2.Caption'] }}</p>
  {% endif %}
  {% if form['Iptc.Application2.Keywords'] %}
    <ul>
      {% for keyword in form['Iptc.Application2.Keywords'] %}
        <li>{{ keyword }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
