@import 'variables';

.AlbumThumb {
  a {
    display: block;
    text-decoration: none;
  }

  img {
    background-color: $red;
    color: $white2;
    display: block;
    font-size: 1.5em;
    height: 100%;
    overflow: hidden;
    transition: background-color, opacity 200ms;
    width: 100%;

    &:hover {
      background-color: darken($red, 20);
      opacity: 0.5;
    }
  }

  .title {
    padding: 0.2em 0;
  }
}
