.AlbumPage--flex-container {
  display: flex;
  flex-wrap: wrap;
}

.AlbumPage--tile {
  flex: 0 1 auto;
  background-color: white;
  padding: 1em;
  margin: 0.25em;
  border-radius: 0.25em;
}

.Thumbnail {
  position: relative;

  img {
    display: block;
  }
}

.Thumbnail--overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  color: white;
  opacity: 0;
}
.Thumbnail:hover .Thumbnail--overlay {
  opacity: 0.8;
}

.Thumbnail--caption {
  background: grey;
  margin: 0;
  padding: 0.2em 0;
}

.Thumbnail--keywords {
  background: grey;
  margin: 0;
  padding: 0;
  text-align: left;

  > li {
    background: white;
    border-radius: 0.5em;
    color: grey;
    display: inline-block;
    font-size: 0.9em;
    margin-left: 0.3em;
    padding: 0.2em 0.25em;
  }
}

.Thumbnail--rating {
  background: grey;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;

  font-size: 1.1em;
  font-weight: bold;

  > * {
    padding: 0.2em 0.3em;

    cursor: pointer
  }
}
