@import 'variables';

html {
  background-color: $white2;
  color: $blue;
}

.App {
  text-align: center;
}

.App-header {
  background-color: $blue;
  color: $white2;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5em 0.2em;
}
