html {
  background-color: #f6f1eb;
  color: #283252;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #283252;
  color: #cfd4e2;

  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding: 0.5em 0.2em;
}
