@import 'variables';

.RatingMenu {
  ul {
    padding: 0;
  }

  li {
    background-color: transparentize($blue, 0.5);
    border-radius: 0.2em;
    color: #cfd4e2;
    cursor: pointer;
    font-size: 1.1em;
    list-style: none;
    margin: 0.3em 0.5em;
    padding: 0 0 0.2em; // Why is vertical alignment so hard?
    transition: background-color 200ms ease-in-out;

    &.active {
      background-color: $blue;
      font-weight: bold;
    }
  }

  small {
    background: #cfd4e2;
    border-radius: 1em;
    color: $blue;
    display: inline-block;
    font-style: italic;
    font-weight: normal;
    padding: 0 0.4em;
  }
}

